<nav  class="navbar navbar-expand-lg navbar-light bg-light">
  <div style=" background-color:steelblue;"class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/content/images/Team20Logo.png" width="50" height="50"><b>&nbsp;EasySurvey</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="font-weight: bolder;" class="nav-link <%= (page == 'home') ? 'active' : ''; %>" aria-current="page" href="/home"><i class="fa-solid fa-house"></i> Home</a>
        </li>

        <li class="nav-item">
          <a style="font-weight: bolder;" class="nav-link <%= (page == 'about') ? 'active' : ''; %>" aria-current="page" href="/about"><i class="fa-solid fa-address-card"></i> About Us</a>
        </li>

        <li class="nav-item">
          <a style="font-weight: bolder;" class="nav-link <%= (page == 'contact') ? 'active' : ''; %>" aria-current="page" href="/contact"><i class="fa-solid fa-envelope"></i> Contact Us</a>
        </li> 

        <li class="nav-item">
          <a style="font-weight: bolder;" class="nav-link <%= (page == 'survey-list') ? 'active' : ''; %>" aria-current="page" href="/survey-list"><i class="fa-solid fa-square-poll-horizontal"></i> Surveys</a> 
        </li> 


        <!-- <li class="nav-item">
          <a class="nav-link <%= (page == 'profile') ? 'active' : ''; %>" aria-current="page" href="/profile"><i class="fa-solid fa-table-list fa-lg"></i> Profile</a> 
        </li>  -->





        <% if(displayName) { %>
        <li class="nav-item">
          <a style="font-weight: bolder;" class="nav-link" aria-current="page" href="/logout"><i class="fa-solid fa-right-from-bracket fa-lg"></i> Logout</a>
        </li>
        <% } else { %>
          <li class="nav-item">
            <a style="font-weight: bolder;" class="nav-link <%= (page == 'login') ? 'active' : ''; %>" aria-current="page" href="/login"><i class="fa-solid fa-right-to-bracket fa-lg"></i> Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>