<div class="container">
    <div class="row">
        <div class="offset-md-1 col-md-8">
            <h1><%= title %>:  <%= survey.title%> </h1><br>

            <input type="button" class="btn btn-primary" onclick="loadSample(frmCustomizeSurvey)" id="btnSample" value="Sample">

            <form class="form" id= "frmCustomizeSurvey" method="POST">
                <input type="hidden" name="id" value="<%= survey._id %>" >
                

                <fieldset class="form-group border p-3">
                    <legend>Survey Questions Customization</legend>

                    <div id="DivQuestions" style ="display:block"> 

                        <label for="txtQuestionText" id="lblQuestion">Write a question text here:</label>
                        <textarea value="" placeholder="Question Text" id="txtQuestionText" name="qText" class="form-control input-sm"></textarea><br>
                        <label for="lstQuestionType">Choose the question type:</label>
                        <select name="qType" id="lstQuestionType" onchange=choicesShowHide(DivChoices,lstQuestionType) on =choicesShowHide(DivChoices,value)>
                            <option value="open">Open Question</option>
                            <option value="yn">Yes/No Question</option>
                            <option value="mco">Multiple Choice OR</option>
                            <option value="mca">Multiple Choice AND</option>
                        </select><br><br>

                        <div id="DivChoices" style ="display:none" class="p-3 mb-2 bg-secondary  text-white" >
                            <label for="txtChoiceText" id="lblChoice">Add one answer choice</label>
                            <input type="text" value="" id="txtChoiceText"><br><br>
                            <select id="lstChoices" multiple class="form-control input-sm"></select><br>
                            <div align="center">
                                <input type="button" class="btn btn-primary" onclick="addChoice(txtChoiceText, lstChoices, txtChoicesArray) , clearChoice(frmCustomizeSurvey)" id="btnAddChoice" value="Add choice">
                                <input type="button" class="btn btn-danger" onclick="deleteChoice(lstChoices)" id="btnDeleteChoice" value="Delete choice">                    
                                <input type = "hidden" name = "txtChoicesArray" id ="txtChoicesArray" >                  

                            </div>
                        </div>

                        <label for="lstQuestions" id="lblQuestionList">List of Questions in the Survey:</label>
                        <select id="lstQuestions" multiple class="form-control input-sm" ondblclick="loadQuestion(frmCustomizeSurvey), choicesShowHide(DivChoices,lstQuestionType)"></select><br>
                        <div align="center">
                            <!-- <%= JSON.stringify(survey) %> -->
                            <input type ="hidden" name = "txtQuestionsArray" id ="txtQuestionsArray" 
                                value="<%= (survey.questions[0] == null) ? '' : JSON.stringify(survey.questions)%>" >                 
                            <input type="button" class="btn btn-primary" onclick="addQuestion(frmCustomizeSurvey)" id="btnAddQuestion" value ="Add Question" >
                            <input type="button" class="btn btn-danger" onclick="deleteQuestion(frmCustomizeSurvey) , clearQuestion(frmCustomizeSurvey)" id="btnDeleteQuestion" value="Delete Question">
                            <input type="button" class="btn btn-primary" onclick="loadQuestion(frmCustomizeSurvey), choicesShowHide(DivChoices,lstQuestionType)" id="btnEditQuestion" value ="Edit Question" >
                            <input type="button" class="btn btn-warning" onclick="cancelEditQuestion(frmCustomizeSurvey) , choicesShowHide(DivChoices,lstQuestionType)" id="btnCancelEditQuestion" value ="Cancel"  style = "display:none"><br><br>
                        </div> 

                    </div>
                    <div id="showData">
                      <table align="center" id="table" border="2"></table>
                    </div>

                </fieldset><br>

                <button class="btn btn-primary" type="submit" onclick="composeQuestionc(frmCustomizeSurvey)">
                    <i class="fas fa-edit"></i> Submit</button>
                
                <a href="/survey-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>

            </form> <br><br>

        </div>

    </div>
</div>